/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    color: #252122;
    ;
}

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.6rem;
}

:root {
    --h1-color: #252122;
    --red-color: #d52349;
    --link-color: #5d5d5d;
    --white-color: #fff;
    --grey-color: #c5c4c4;
    --dark-grey: #5d5d5d;
}

.btn {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--white-color);
    padding: 1rem 3rem;
    border-radius: 10px;
    margin: 1rem;
    transition: 0.2s ease-in-out;
}

/* Global */

/* Header */

.logo {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__primary_heading {
    letter-spacing: 3px;
    padding: 5px;
}

/* Header */

/* Nav */

.menu {}

.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu__list-item {}

.menu__list-link {
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    text-decoration: none;
    color: var(--link-color);
    margin: 0.5rem;
    transition: 0.3s ease-in-out;
}

.menu__list-link:hover {
    background-color: var(--grey-color);
    border-radius: 5px;
}

.menu__list-link-color {
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 5px;
}

.menu__list-link-color:hover {
    color: var(--white-color);
    background-color: var(--red-color);
    border-radius: 5px;
}


/* RWD */

@media (max-width: 820px) {
    .menu__list {
        flex-direction: column;
        align-items: center;
    }

    .menu__list-item {
        padding: 1rem;
    }
}

/* RWD */

/* Nav */

/* Main */

.main {
    height: 60vh;
    margin-top: 5rem;
    background: #CCE8F4 url(pic01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main__content-box {
    padding: 1rem 3rem;
    background-color: #252122;
}

.main__primary-heading {
    text-align: center;
    color: var(--white-color);
    padding: 0.5rem;
}

.main__primary-content {
    color: var(--red-color);
    text-align: center;
    padding: 0.5rem;
}

/* RWD */

@media (max-width: 660px) {
    .main__content-box {
        max-width: 500px;
    }

    .main__primary-heading {
        font-size: 2rem;
    }

    .main__primary-content {
        font-size: 1.4rem;
    }
}

@media (max-width: 500px) {
    .main__content-box {
        max-width: 300px;
    }

    .main__primary-heading {
        font-size: 1.8rem;
    }
}

/* RWD */

/* Main */

/* Features */

.features {
    position: relative;
    margin-top: 5rem;
}

.features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.features::before {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--h1-color);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
}

.features__content__box {
    padding: 1rem 2rem;
    text-align: center;
}

.features__content__box-icon {
    font-size: 5rem;
    padding: 2rem;
    color: var(--white-color);
    border-radius: 2rem;
}

.features__content__box:nth-child(2) {
    -webkit-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.27);
    padding: 3rem 2rem;
}

.features__content__box:first-child .features__content__box-icon {
    background-color: var(--red-color);
}

.features__content__box:nth-child(2) .features__content__box-icon {
    background-color: var(--h1-color);
}

.features__content__box:nth-child(3) .features__content__box-icon {
    background-color: var(--dark-grey);
}

.features__content__box-heading {
    margin-top: 2rem;
}

.features__content__box-content {
    font-size: 1rem;
    color: var(--grey-color);
    margin-top: 1rem;
}

.features__btn-box {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.features__cta__btn {
    background-color: var(--red-color);
}

.features__cta__btn:hover {
    opacity: 0.95;
}

.features__btn {
    background-color: #000;
}

.features__btn:hover {
    opacity: 0.95;
}

/* RWD */

@media (max-width: 720px) {
    .features__wrapper {
        flex-direction: column;
    }

    .features__content__box:nth-child(2) {
        padding: 1rem 0.5rem;
        margin: 1rem;
    }
}

/* RWD */

/* Features */

/* Porfolio */

.prf {
    margin-top: 5rem;
}

.prf__primary__heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.prf__primary__heading::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 30%;
    height: 1px;
    background-color: var(--grey-color);
}

.prf__primary__heading::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: 30%;
    height: 1px;
    background-color: var(--grey-color);
}


.prf__wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    margin: 0 auto;
    padding: 2rem;
    gap: 3rem;
    background-color: #f7f7f7;
}

.prf__content__box {
    padding-bottom: 2rem;
    border-bottom: 1px solid;
    border-color: var(--grey-color);
    background-color: #fff;
}

.prf__content__box-link {}

.prf__content__box-image {
    max-width: 500px;
}

.prf__content__box-heading {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.prf__content__box-content {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: var(--link-color);
    font-weight: 300;
    letter-spacing: 1px;
}

.prf__content__box-btn {
    font-size: 1rem;
    background-color: var(--h1-color);
    text-align: start;
    padding: 1rem;

}

.prf__content__box-btn:hover {
    opacity: 0.92;
}

/* RWD */

@media (max-width: 1200px) {
    .prf__wrapper {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
        padding: 0;
    }

    .prf__content__box-image {
        max-width: 300px;
    }
}

@media (max-width: 820px) {
    .prf__wrapper {
        grid-template-columns: repeat(1, 1fr);
        background-color: #fff;
    }

    .prf__content__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .prf__content__box-image {
        border-radius: 15px;
        margin-top: 1rem;
    }

    .prf__content__box-content {
        padding: 1rem;
    }

}

@media (max-width: 720px) {
    .prf__primary__heading::before {
        width: 20%;
    }

    .prf__primary__heading::after {
        width: 20%;
    }
}

@media (max-width: 375px) {
    .prf__content__box-image {
        max-width: 200px;
    }

    .prf__primary__heading::before {
        width: 10%;
    }

    .prf__primary__heading::after {
        width: 10%;
    }
}

/* RWD */

/* Porfolio */

/* Blog */

.blg {
    margin-top: 5rem;
}

.blg__primary__heading {
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.blg__primary__heading::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 45%;
    height: 1px;
    background-color: var(--grey-color);
}

.blg__primary__heading::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: 45%;
    height: 1px;
    background-color: var(--grey-color);
}

.blg__wrapper {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    background-color: #f7f7f7;
}

.blg__content__box {
    padding-bottom: 2rem;
    border-bottom: 0.5px solid;
    border-color: var(--link-color);
    background-color: #fff;
    margin-right: 3rem;
}

.blg__content__box-link {}

.blg__content__box-image {
    max-width: 700px;
}

.blg__content__box-heading {
    margin-top: 2rem;
    padding: 2rem;
}

.blg__content__box__info-text {
    font-size: 1rem;
    color: var(--link-color);
    font-weight: 200;
    font-style: italic;
    padding: 0 2rem
}

.blg__content__box-content {
    font-size: 1rem;
    color: var(--link-color);
    font-weight: 300;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.blg__btn-box {
    display: flex;
    justify-content: space-around;
}

.blg__btn {
    font-weight: 700;
    font-size: 1.1rem;
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 7px;
    position: relative;
    transition: 0.2s ease-in-out;
}

.blg__btn:hover {
    opacity: 0.94;
}

.blg__btn:nth-child(1) {
    background-color: var(--link-color);
}

.blg__btn:nth-child(2) {
    background-color: var(--grey-color);
}

.blg__btn:nth-child(1)::before {
    content: url(/file-lines-regular.svg);
    position: absolute;
    display: block;
    top: 25%;
    left: 6%;
    width: 20px;
    height: 10px;
}

.blg__btn:nth-child(2)::before {
    content: url(/comment-regular.svg);
    position: absolute;
    display: block;
    top: 33%;
    left: 6%;
    width: 20px;
    height: 10px;
}

/* RWD */

@media (max-width: 1200px) {
    .blg__wrapper {
        max-width: 600px;
        grid-template-columns: repeat(1, 1fr);
        background-color: #fff;
    }

    .blg__primary__heading::before {
        width: 38%;
    }

    .blg__primary__heading::after {
        width: 38%;
    }
}

@media (max-width: 720px) {
    .blg__wrapper {
        max-width: 500px;
    }

    .blg__content__box-image {
        max-width: 400px;
        margin-top: 1rem;
    }

    .blg__content__box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
    }

    .blg__primary__heading::before {
        width: 30%;
    }

    .blg__primary__heading::after {
        width: 30%;
    }

    .blg__btn {
        font-size: 0.8rem;
        padding: 1rem 2rem;
        justify-content: space-between;
        margin-right: 2rem;
    }

    .blg__btn:nth-child(1)::before {
        top: 27%;
        width: 15px;
    }

    .blg__btn:nth-child(2)::before {
        top: 34%;
        width: 15px;
    }
}

@media (max-width: 480px) {
    .blg__wrapper {
        max-width: 370px;
    }

    .blg__content__box-image {
        max-width: 340px;
        margin-top: 1rem;
    }

    .blg__btn-box {
        flex-direction: column;
    }

    .blg__btn {
        font-size: 1rem;
        margin-right: 0;
        margin-top: 2rem;
    }

}

/* RWD */

/* Blog */

/* Information */

.inf {
    margin-top: 5rem;
    background-color: #252122;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: hidden;

}

.inf__primary__heading {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
    margin-top: 3rem;
}

.inf__wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inf__box__content {
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    flex: 1;
}

.inf__date-box {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    position: relative;
}

.inf__date-box::before {
    content: "";
    position: absolute;
    display: block;
    top: -5%;
    left: -30%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--red-color);
}

.inf__date {
    font-size: 1rem;
    text-align: center;
    color: white;
    z-index: 1;
}

.inf__date-number {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    z-index: 1;
}

.inf__box__content-text {}

.inf__box__content__primary-heading {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
}

.inf__box__content__primary-content {
    color: var(--link-color);
    font-size: 1rem;
}

.inf__box__contact {
    max-width: 400px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.inf__box__contact__primary-heading {
    color: var(--white-color);
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: var(--white-color);
    padding: 2rem 0;
}

.inf__box__contact-link {}

.img__box__contact-image {}

.inf__box__contact-content {
    font-size: 1rem;
    color: var(--white-color);
    margin-top: 2rem;
}

.inf__box__contact-btn {
    display: block;
    max-width: 200px;
    font-size: 1.3rem;
    text-align: start;
    padding: 1rem;
    margin: 2rem 0 0 0;
    background-color: var(--red-color);
}

.inf__box__contact-btn:hover {
    opacity: 0.90;
}

/* RWD */

@media (max-width: 1300px) {

    .inf__primary__heading {
        font-size: 2rem;
        padding: 1rem;
        text-align: center;
    }

    .inf {
        flex-direction: column;
        align-items: center;
    }

    .inf__box__contact {
        max-width: 800px;
        margin-top: 1rem;
        margin-left: 0;
        align-items: center;
    }

    .inf__box__contact__primary-heading {
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
    }

    .inf__box__contact-content {
        text-align: center;
        padding: 1rem;
    }

    .inf__box__contact-btn {
        margin: 2rem auto;
    }
}

@media (max-width: 375px) {

    .img__box__contact-image {
        max-width: 250px;
    }

    .inf__box__contact {
        flex-wrap: wrap;
        max-width: 250px;
        margin-top: 1rem;
        margin-left: 0;
        align-items: center;
    }
}

/* RWD */

/* Information */